<plugin>
	<nom>Candidatures de stages</nom>
	<auteur>christophe le drean</auteur>
	<version>0.2.0</version>
	<icon>images/candidatures-128.png</icon>
	<version_base>0.33</version_base>
	<install>base/candidatures_upgrade.php</install>

	<etat>stable</etat>
	<description>
		Gestion des candidatures de stages.
	</description>
	<lien>#</lien>
	<icon></icon>
	<prefix>candidatures</prefix>
	<options>candidatures_options.php</options>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/candidatures.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/candidatures.php</inclure>
	</pipeline>
	<pipeline>
	    <nom>insert_head</nom>
	    <inclure>candidatures_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<action>insert_head_prive</action>
		<inclure>candidatures_pipelines.php</inclure>
	</pipeline>
	<bouton id='candidatures' parent='bando_edition'>
		<icone>images/candidatures-16.png</icone>
		<titre>candidatures:stages</titre>
	</bouton>

	<necessite id="SPIP" version="[2.1.12;]" />
  <necessite id="fraap" version="[0.0.1;]" />
	<necessite id="accesrestreint" version="[3.3.1;]" />
	<necessite id="menus" version="[0.9.1;]">
</plugin>
